#include "resource.h"

IDI_APP_ICON        ICON "icons\\app.ico"
IDI_ICON_COLOR      ICON "icons\\color.ico"
IDI_ICON_IMAGE      ICON "icons\\picture.ico"
IDI_ICON_OPACITE    ICON "icons\\opacite.ico"
IDI_ICON_SCREEN     ICON "icons\\screen.ico"
IDI_ICON_POSITION   ICON "icons\\position.ico"
IDI_ICON_SIZE       ICON "icons\\size.ico"
IDI_ICON_CORNER_TL  ICON "icons\\TL.ico"
IDI_ICON_CORNER_TR  ICON "icons\\TR.ico"
IDI_ICON_CORNER_BL  ICON "icons\\BL.ico"
IDI_ICON_CORNER_BR  ICON "icons\\BR.ico"
IDI_ICON_LOVE       ICON "icons\\love.ico"